:root {
  --primary-text-color: #212121;
  --primary-background-color: #e5e5e5;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0 15px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #212121;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover, a:focus {
  color: #2196f3;
}

h1,
h2,
h3 {
  font-family: "Roboto";
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo > span {
  color: #2196f3;
}

a .logo {
  width: 145px;
  height: 31px;
  color: #000000;
  font-family: "Raleway";
  line-height: normal;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.footer-container a .logo {
  color: #ffffff;
}

.mobile-menu {
  position: absolute;
  width: 100%;
  max-width: 480px;
  height: 100vh;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  padding: 48px 40px;
  transform: translateX(-50%) translateY(-100%);
  transition: transform 500ms linear;
}

.mobile-menu.is-open {
  transform: translateX(-50%) translateY(0%);
}

.mobile-menu-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-menu-nav-link {
  color: #212121;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: auto;
  font-family: Roboto;
}

.mobile-menu-nav-link :not(:last-child) {
  margin-bottom: 40px;
}

.header-address {
  color: #757575;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0;
}

.social-links {
  display: flex;
  justify-content: space-between;
  padding: 0 32px 30px 32px;
}

.social-links-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-link:hover, .social-links-link:focus {
  background-color: #2196f3;
}

.social-links-link:hover .social-links-image,
.social-links-link:focus .social-links-image {
  fill: #ffffff;
}

.social-links-image {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 20px;
  height: 20px;
}

.social-links-footer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 50px;
}

.social-links-footer ul {
  list-style: none;
  text-decoration: none;
  display: flex;
}

.social-links-footer h2 {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.social-links-link-footer {
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social-links-link-footer .social-links-image {
  fill: #ffffff;
}

.pictures-wrapper {
  position: relative;
  overflow: hidden;
}

.pictures-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  padding: 63px 24px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  font-size: 18px;
  margin: 0;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pictures-link:hover .pictures-overlay,
.pictures-link:focus .pictures-overlay {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes opacity-overlay {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.burger-btn,
.mobile-close-button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}

.burger-icon {
  width: 24px;
  height: 16px;
  fill: #212121;
  position: absolute;
  top: 10px;
  right: 10px;
}

.burger-icon:hover, .burger-icon:focus {
  fill: #2196f3;
  cursor: pointer;
}

.mobile-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.moto-container .button {
  display: inline-block;
  align-content: space-around;
  width: 200px;
  height: 50px;
  color: #e5e5e5;
  background-color: #2196f3;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 5px;
  border: none;
  outline: none;
}

.moto-container h1 {
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  font-weight: 800;
  color: #ffff;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.preferences-container h2 {
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  color: #212121;
  margin-top: 30px;
}

.what-we-do-container h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 50px;
}

.what-we-do-pictures-tittle {
  width: 100%;
  height: 70px;
  color: #ffffff;
  background-color: #2f303a;
  opacity: 80%;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 700;
  padding-top: 27px;
  position: absolute;
  bottom: 0;
}

.our-team-container h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.regular-customers h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.main-menu {
  display: none;
}

.header-address {
  display: none;
}

.header-address,
.header-right-navigation {
  display: none;
}

.logo {
  width: 134px;
  height: 28px;
  padding: 16px 15px;
}

.header {
  border-bottom: solid 1px #eeeeee;
  padding: 32px 0;
}

.header-container {
  display: flex;
  width: 100%;
  height: 60px;
}

.header-left-navigation,
.header-address {
  display: flex;
  align-items: center;
}

.moto-section {
  background-color: #2f303a;
  background-image: url("../images/mobile/img-overlay-mob.png"), url("../images/mobile/header-img-mob.jpg"), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moto-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.preferences {
  padding-top: 60px;
}

.preferences-container {
  margin: 0;
}

.preferences-container ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
}

.preferences-container ul li {
  width: 100%;
  font-size: 14px;
  color: #757575;
  line-height: 1.714;
  font-weight: 400;
  text-align: left;
}

.preferences-container ul li h2 {
  text-align: center;
}

.preferences-container ul li:not(:last-child) {
  margin-bottom: 30px;
}

.preferences-image-box {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 5px;
}

.preferences-image {
  width: 70px;
  height: 70px;
}

.our-team {
  background-color: #f5f4fa;
  width: 100%;
}

.our-team ul {
  list-style: none;
  display: flex;
}

.our-team li {
  text-align: center;
  outline-color: #eeeeee;
  outline-style: solid;
  outline-width: 1px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px -1px #757575;
  border-radius: 3px;
}

.our-team li:not(:last-child) {
  margin-bottom: 30px;
}

.our-team-img-tittle {
  justify-items: center;
  padding-top: 30px;
}

.our-team-container ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px 0;
}

.our-team-container ul li {
  align-items: center;
}

.our-team-container ul h3 {
  font-size: 16px;
  font-weight: 400px;
  letter-spacing: 0.03em;
}

.our-team-container ul p {
  color: #757575;
  letter-spacing: 0.03em;
  margin-top: 16px;
  margin-bottom: 0;
}

.footer {
  padding: 50px 0;
  background-color: #2f303a;
  width: 100%;
}

.footer .container > div {
  flex-grow: 1;
  flex-shrink: 1;
}

.footer .container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.footer-container ul a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  margin-top: 9px;
}

.footer-container li a {
  opacity: 80%;
}

.footer-container ul {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  padding-top: 20px;
}

.footer-container address {
  font-style: normal;
}

.footer-form {
  margin-left: 77px;
  display: flex;
  display: inline-block;
  align-items: center;
}

.footer-form p {
  color: #ffffff;
  font-weight: 700px;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin-top: 0;
  text-transform: uppercase;
}

.footer-form form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  background: transparent;
  padding: 15px;
  display: block;
  border: 1px solid rgba(117, 117, 117, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.footer-form-input-image {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

.footer-form-input-label::placeholder {
  color: rgba(250, 250, 250, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 0.8;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */