:root {
  --primary-text-color: #212121;
  --primary-background-color: #f5f4fa;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0 15px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container {
    width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #212121;
}

* {
  outline: none;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover, a:focus {
  color: #2196f3;
}

h1,
h2,
h3 {
  font-family: "Roboto";
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo > span {
  color: #2196f3;
}

a.logo {
  width: 145px;
  height: 31px;
  color: #000000;
  font-family: "Raleway";
  line-height: normal;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.footer-container a.logo {
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  a.logo {
    font-size: 24px;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  max-width: 480px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  transform: translateX(-50%) translateY(-100%);
  transition: transform 500ms linear;
  z-index: 1000;
}

.mobile-menu.is-open {
  transform: translateX(-50%) translateY(0%);
}

.mobile-menu-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 60px;
  margin-left: 40px;
}

.mobile-menu-nav-link {
  color: #212121;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: auto;
  font-family: Roboto;
}

.mobile-menu-nav-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-header-address {
  color: #757575;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 60px 0;
}

.mobile-menu-nav-link:focus {
  color: #2196f3;
}

.mobile-menu-nav-item a {
  position: relative;
}

.mobile-menu-social {
  flex-direction: row;
  padding-left: 10px;
  padding-bottom: 47px;
  align-items: flex-end;
}

.mobile-menu-social .link {
  color: #2196f3;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
}

@media screen and (max-width: 767px) {
  .header-icon {
    display: none;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms linear;
  overflow: auto;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  max-width: calc(100vw - 30px);
  background-color: #ffffff;
  border-radius: 1px;
  padding: 40px;
}

.modal .modal-close-button {
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 2%;
}

.modal-close-button-icon {
  width: 18px;
  height: 18px;
  margin: auto;
  display: block;
}

.modal-close-button-icon:hover, .modal-close-button-icon:focus {
  fill: #2196f3;
}

.modal-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #757575;
}

.modal-form p {
  color: #212121;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: auto;
  font-family: Roboto;
  margin: 12px 0;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-input {
  display: block;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: #2196f3;
}

.pictures li:focus .pictures-overlay {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input-label {
  margin-bottom: 10px;
}

.modal-form-input-label h3 {
  font-size: 12px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 0, 01em;
  margin-bottom: 4px;
}

.modal-form-input-image {
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-input-image {
  outline: none;
  fill: #2196f3;
}

.modal-form-input-message {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #000000;
  font-style: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  padding: 8px 10px;
  border-width: 1px;
}

.modal-form-input-message:focus {
  border-color: #2196f3;
  outline: none;
}

.modal-form-input-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-label-policy {
  font-size: 14px;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.modal-form-label-policy::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px;
  border-radius: 2px;
  border: 1px solid #000;
  vertical-align: middle;
}

.modal-form-label-policy a {
  color: #2196f3;
  text-decoration: underline;
}

.modal-form-label-policy:hover {
  cursor: pointer;
}

.modal-form-checkbox-policy:checked + .modal-form-label-policy::before {
  background-image: url("../images/desktop/icon_check.png");
  background-repeat: no-repeat;
  outline: none;
  border: none;
}

.modal-form-button {
  width: 200px;
  height: 50px;
  color: #eeeeee;
  font-weight: 700;
  font-size: 16px;
  line-height: 0.53;
  letter-spacing: 0.06em;
  text-align: center;
  border-style: none;
  border-radius: 5px;
  background-color: #2196f3;
  padding: 12px 16px;
  text-transform: uppercase;
  margin-top: 20px;
  align-self: center;
}

.social-footer li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer li:focus {
  background-color: #2196f3;
}

.social-footer li:focus .image {
  fill: #ffffff;
}

.social-footer li .image svg {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 20px;
  height: 20px;
}

.our-team-container .social {
  display: flex;
  justify-content: center;
  padding: 0 32px 24px 32px;
}

.our-team-container .social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-container .social a:focus, .our-team-container .social a:hover {
  background-color: #2196f3;
}

.our-team-container .social a:focus svg, .our-team-container .social a:hover svg {
  fill: #ffffff;
}

.our-team-container .social a svg {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 20px;
  height: 20px;
}

.social-footer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  justify-content: center;
  margin-bottom: 60px;
}

.social-footer ul {
  list-style: none;
  text-decoration: none;
  display: flex;
}

.social-footer h2 {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.social-footer li {
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.1);
}

.social-footer li:hover {
  background-color: #2196f3;
}

.social-footer li .image svg {
  fill: #ffffff;
}

.mobile-menu-social {
  display: flex;
  list-style: none;
}

.mobile-menu-social li {
  padding: 0 10px;
}

.mobile-menu-social li:not(:last-child) {
  border-right: 1px solid #ccc;
}

.pictures-wrapper {
  position: relative;
  overflow: hidden;
}

.pictures-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  padding: 63px 24px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  font-size: 18px;
  margin: 0;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pictures-link:hover .pictures-overlay,
.pictures-link:focus .pictures-overlay {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes opacity-overlay {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.burger-btn,
.mobile-close-button {
  width: 40px;
  height: 40px;
  background-color: transparent !important;
  border: none;
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
}

.burger-icon {
  width: 24px;
  height: 16px;
}

.burger-icon:hover, .burger-icon:focus {
  fill: #2196f3;
  cursor: pointer;
}

.mobile-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.mobile-close-button:hover, .mobile-close-button:focus {
  background-color: transparent;
}

.mobile-close-button:hover svg, .mobile-close-button:focus svg {
  fill: #2196f3;
  cursor: pointer;
}

.moto-container .button {
  display: inline-block;
  align-content: space-around;
  width: 200px;
  height: 50px;
  color: #e5e5e5;
  background-color: #2196f3;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 5px;
  border: none;
  outline: none;
}

.buttons {
  display: flex;
}

.buttons ul {
  flex-wrap: wrap;
  margin: auto;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  margin-bottom: 54px;
}

.buttons button {
  width: auto;
  height: 38px;
  color: #212121;
  background-color: #f5f4fa;
  font-size: 16px;
  line-height: 1.63;
  font-weight: 700;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 5px;
  margin-right: 8px;
  margin-bottom: 15px;
  text-align: center;
  border-style: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .burger-btn,
  .mobile-close-button {
    display: none;
  }
  .buttons ul {
    justify-content: center;
  }
}

button:hover,
button:focus {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

.footer-form-button {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 200px;
  height: 50px;
  color: #eeeeee;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  border-style: none;
  border-radius: 5px;
  background-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .footer-form-button {
    margin-left: 12px;
  }
}

.moto-container h1 {
  font-size: 26px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  font-weight: 800;
  color: #ffff;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.preferences-container h2 {
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  color: #212121;
  margin-top: 30px;
}

.what-we-do-container h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 50px;
}

.what-we-do-pictures-tittle {
  width: 100%;
  height: 70px;
  color: #ffffff;
  background-color: #2f303a;
  opacity: 80%;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 700;
  padding-top: 27px;
  position: absolute;
  bottom: 0;
}

.our-team-container h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.regular-customers h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .moto-container h1 {
    font-size: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .moto-container h1 {
    font-size: 44px;
  }
  .pictures-title {
    padding: 20px;
  }
  .pictures-title p {
    color: #757575;
    font-size: 16px;
    line-height: 1.88;
    margin: 0;
  }
}

.main-menu {
  display: none;
}

.mobile-header-address {
  display: flex;
  align-items: left;
  padding-left: 40px;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: flex-end;
}

.mobile-header-address .header-right-navigation {
  color: #757575;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 250ms;
}

.mobile-header-address .header-right-navigation.phone {
  color: #2196f3;
  font-size: 34px;
  letter-spacing: 0.02em;
}

.header-right-navigation a {
  font-size: 34px;
  color: #2196f3;
}

.logo {
  width: 134px;
  height: 28px;
}

.header {
  border-bottom: solid 1px #eeeeee;
}

.header-container {
  width: 100%;
  height: 60px;
}

.header-icon {
  width: 20px;
  height: 16px;
  fill: #757575;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .header-address {
    display: none;
  }
  .phone {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .header .container {
    width: calc(100% - 30px);
    height: 80px;
  }
  .mobile-menu,
  .mobile-menu-social,
  .burger-btn {
    display: none;
  }
  .main-menu a {
    position: relative;
  }
  .main-menu a.current::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    background-size: contain;
    background-position: bottom;
    margin-top: 30px;
    border-radius: 15%;
    display: block;
    position: absolute;
  }
  .header-address address {
    display: flex;
    flex-direction: column-reverse;
  }
  .header-right-navigation {
    margin-bottom: 8px;
  }
  .header-right-navigation {
    font-size: 14px;
    line-height: normal;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-icon {
    width: 20px;
    height: 16px;
    fill: currentColor;
    vertical-align: middle;
    align-items: flex-start;
  }
  .header-left-navigation,
  .main-menu {
    display: flex;
    list-style: none;
    margin: auto;
  }
  .header-left-navigation li .current,
  .main-menu li .current {
    color: #2196f3;
    position: relative;
  }
  .header-left-navigation .main-menu-title,
  .main-menu .main-menu-title {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 250ms;
  }
  .header-left-navigation li:not(:last-child),
  .main-menu li:not(:last-child) {
    margin-right: 50px;
  }
  .header-left-navigation {
    margin: 0;
    flex-grow: 1;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .header-container {
    margin: 0 auto;
  }
  .header-address {
    align-items: center;
    font-style: normal;
    align-items: flex-end;
  }
  .header-address address {
    flex-direction: row-reverse;
  }
  .main-menu {
    display: flex;
    list-style: none;
  }
  .main-menu a {
    position: relative;
    margin-top: 35px;
  }
  .header-right-navigation {
    font-size: 14px;
    line-height: normal;
    text-decoration: none;
    font-weight: 700;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 0;
  }
  .phone {
    margin-left: 30px;
  }
}

.moto-section {
  background-color: #2f303a;
  background-image: url("../images/mobile/img-overlay-mob.png"), url("../images/mobile/header-img-mob.jpg"), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moto-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.preferences {
  padding-top: 60px;
}

.preferences-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.preferences-container ul li {
  width: 100%;
  font-size: 14px;
  color: #757575;
  line-height: 1.714;
  font-weight: 400;
  text-align: left;
}

.preferences-container ul li h2 {
  text-align: center;
}

.preferences-container ul li:not(:last-child) {
  margin-bottom: 30px;
}

.preferences-image-box {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 5px;
}

.preferences-image {
  width: 70px;
  height: 70px;
}

.our-team {
  background-color: #f5f4fa;
  width: 100%;
  padding: 60px 0 30px;
}

.our-team ul {
  list-style: none;
  display: flex;
}

.our-team li {
  text-align: center;
  outline-color: #eeeeee;
  outline-style: solid;
  outline-width: 1px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px -1px #757575;
  border-radius: 3px;
}

.our-team li {
  margin-bottom: 30px;
}

.our-team-img-tittle {
  justify-items: center;
  padding-top: 30px;
  padding-bottom: 16px;
}

.our-team-container ul {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.our-team-container ul li {
  align-items: center;
}

.our-team-container ul h3 {
  font-size: 16px;
  font-weight: 400px;
  letter-spacing: 0.03em;
}

.our-team-container ul p {
  color: #757575;
  letter-spacing: 0.03em;
  margin-top: 16px;
  margin-bottom: 0;
}

.regular-customers {
  padding: 60px 0 30px;
}

.regular-customers ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
}

.regular-customers ul li {
  margin-bottom: 30px;
  width: calc((100% - 30px) / 2);
}

.regular-customers ul li a:hover,
.regular-customers ul li a:focus {
  color: #2196f3;
  border-color: #2196f3;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers ul li a {
  display: inline-block;
  width: 100%;
  height: 90px;
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

@media (max-width: 767px) {
  .regular-customers ul li:nth-child(odd) {
    margin-right: 30px;
  }
}

.regular-customers h2 {
  font-size: 28px;
}

.customers-labels {
  display: flex;
  align-content: space-around;
  align-content: stretch;
  justify-content: space-between;
}

.customers-labels-link-image {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-labels-link:hover .customers-labels-link-image,
.customers-labels-link:focus .customers-labels-link-image {
  fill: #2196f3;
}

.regular-customers li:focus {
  color: #2196f3;
  border-color: #2196f3;
  cursor: pointer;
}

picture {
  display: flex;
  justify-content: center;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.pictures ul {
  padding-bottom: 76px;
}

.pictures ul li {
  list-style: none;
  border-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.pictures ul a {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
}

.pictures ul h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}

.pictures ul a:focus,
.pictures ul a:hover {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06);
}

.pictures-title {
  padding: 20px;
}

.pictures-title p {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
  margin: 0;
}

@media screen and (max-width: 1199px) {
  .what-we-do {
    display: none;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .moto-section {
    background-image: url("/images/tablet/img-overlay-tab.png"), url("/images/tablet/header_img-tab.jpg"), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    height: 400px;
  }
  .moto-container {
    width: 360px;
  }
  .moto-container h1 {
    width: 360px;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
  }
  .preferences {
    padding-top: 45px;
    margin: 0;
  }
  .preferences-container ul li {
    width: calc(50% - 15px);
  }
  .preferences-image-box {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f4fa;
    border-radius: 5px;
  }
  .preferences-image {
    width: 70px;
    height: 70px;
  }
  .our-team {
    align-items: center;
  }
  .our-team ul {
    list-style: none;
    display: flex;
  }
  .our-team li {
    text-align: center;
    outline-color: #eeeeee;
    outline-style: solid;
    outline-width: 1px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px -1px #757575;
    border-radius: 3px;
    width: calc(50% - 15px);
  }
  .our-team li:nth-child(even) {
    margin-right: 0;
  }
  .our-team-img-tittle {
    justify-items: center;
    padding: 30px;
  }
  .our-team-container h2 {
    font-size: 28px;
    font-weight: 700px;
    letter-spacing: 0.03em;
  }
  .our-team-container h3 {
    font-size: 16px;
    font-weight: 400px;
    letter-spacing: 0.03em;
  }
  .our-team-container p {
    color: #757575;
    letter-spacing: 0.03em;
    margin-top: 16px;
    margin-bottom: 0;
  }
  .regular-customers ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  .customers-labels {
    display: flex;
    justify-content: center;
    justify-content: space-between;
  }
  .regular-customers ul li {
    width: calc((100% - 30px * 2) / 3);
  }
  .regular-customers ul li:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .customers-labels-link:hover,
  .customers-labels-link:focus {
    color: #2196f3;
    border-color: #2196f3;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .customers-labels-link {
    width: 170px;
    height: 90px;
    display: flex;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
  }
  .customers-labels-link-image {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .customers-labels-link:hover .customers-labels-link-image,
  .customers-labels-link:focus .customers-labels-link-image {
    fill: #2196f3;
  }
  .regular-customers li:hover,
  .regular-customers li:focus {
    color: #2196f3;
    border-color: #2196f3;
    cursor: pointer;
  }
  .pictures ul {
    padding-bottom: 64px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .pictures ul li {
    width: calc(50% - 15px);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .moto-section {
    background-image: url("/images/desktop/overlay-desk.png"), url("/images/desktop/header-img.jpg"), url("/images/desktop/Bg.png"), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    height: 600px;
  }
}

@media screen and (min-width: 1200px) {
  .moto-container {
    width: 696px;
    flex-direction: column;
  }
  .preferences {
    padding-top: 94px;
  }
  .preferences-container ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
  }
  .preferences-container ul li {
    width: calc((100% / 4) - 30px);
    font-size: 14px;
    color: #757575;
    line-height: 1.714;
    font-weight: 400;
    text-align: left;
    margin-bottom: 0;
  }
  .preferences-container ul li:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
  .preferences-image-box {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f4fa;
    border-radius: 5px;
    margin: 0;
  }
  .preferences-image {
    width: 70px;
    height: 70px;
  }
  .what-we-do {
    padding-bottom: 123px;
    padding-top: 94px;
  }
  .what-we-do-pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    width: 100%;
  }
  .what-we-do-pictures li:not(:last-child) {
    margin-right: 30px;
  }
  .what-we-do-pictures li {
    position: relative;
  }
  .our-team {
    align-items: center;
    padding: 94px 0;
  }
  .our-team ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .our-team li {
    width: calc((100% / 4) - 30px);
    outline-color: #eeeeee;
    outline-style: solid;
    outline-width: 1px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px -1px #757575;
    border-radius: 3px;
  }
  .our-team li:not(:last-child) {
    margin-right: 30px;
  }
  .our-team-img-tittle {
    justify-items: center;
    padding: 30px;
  }
  .our-team-container h3 {
    font-size: 16px;
    font-weight: 400px;
    letter-spacing: 0.03em;
  }
  .our-team-container p {
    color: #757575;
    letter-spacing: 0.03em;
    margin-top: 16px;
    margin-bottom: 0;
  }
  .regular-customers {
    padding: 94px 0;
  }
  .customers-labels-link:hover,
  .customers-labels-link:focus {
    color: #2196f3;
    border-color: #2196f3;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .regular-customers ul li {
    width: calc((100% / 6) - 30px);
  }
  .regular-customers ul li:not(:last-child) {
    margin-right: 30px;
  }
  .customers-labels-link-image {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .customers-labels-link:hover .customers-labels-link-image,
  .customers-labels-link:focus .customers-labels-link-image {
    fill: #2196f3;
  }
  .regular-customers li:hover,
  .regular-customers li:focus {
    color: #2196f3;
    border-color: #2196f3;
    cursor: pointer;
  }
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 112px;
  }
  .portfolio .container {
    margin: 0;
  }
  .pictures ul {
    justify-content: space-between;
  }
  .pictures ul li {
    width: calc((100% - 90px) / 3);
    margin-left: 0;
  }
  .pictures ul a {
    display: block;
  }
  .pictures ul li:nth-child(3n) {
    margin-right: 0;
  }
  .pictures ul li:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .pictures ul li:nth-child(3n) {
    margin-right: 0;
  }
  .pictures ul h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
  }
  .pictures ul a:focus,
  .pictures ul a:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06);
  }
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
  width: 100%;
}

.footer .container > div {
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  text-align: center;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.footer-container {
  margin-top: 9px;
  margin-bottom: 60px;
}

.footer-container ul a {
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.footer-container li a {
  opacity: 80%;
}

.footer-container ul {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  padding-top: 20px;
}

.footer-container ul li {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
}

.footer-container address {
  font-style: normal;
}

.footer-form {
  display: flex;
  display: inline-block;
  align-items: center;
}

.footer-form p {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin-top: 0;
  text-transform: uppercase;
}

.footer-form form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-form .footer-form-mail {
  display: flex;
  align-items: center;
}

.footer-form-input {
  width: 100%;
  height: 50px;
  background: transparent;
  padding: 15px;
  display: block;
  border: 1px solid rgba(117, 117, 117, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
}

.footer-form-input-image {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

.footer-form-input-label::placeholder {
  color: rgba(250, 250, 250, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 0.8;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 50px 15px;
    height: 252px;
  }
  .footer .container > div {
    margin: 0;
    align-items: flex-start;
    text-align: start;
  }
  .footer .container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
  }
  .footer-container ul a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
  }
  .footer-container li a {
    opacity: 80%;
  }
  .footer-container ul {
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.714;
    letter-spacing: 0.03em;
    padding-top: 20px;
  }
  .footer-container address {
    font-style: normal;
  }
  .footer-form {
    display: inline-block;
  }
  .footer-form p {
    text-align: start;
  }
  .footer-form form {
    flex-direction: row;
  }
  .footer-form-input {
    height: 50px;
    background: transparent;
    padding: 15px;
    display: block;
    border: 1px solid rgba(117, 117, 117, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0;
  }
  .footer-form-input-image {
    width: 24px;
    height: 24px;
    margin-left: 8px;
  }
  .footer-form-input-label::placeholder {
    color: rgba(250, 250, 250, 0.6);
    font-weight: 400;
    font-size: 16px;
    line-height: 0.8;
    letter-spacing: 0.03em;
  }
}
/*# sourceMappingURL=main.css.map */