.moto-section {
  background-color: #2f303a;
  background-image: url("../images/img_overlay.png"),
    url("../images/main_image.jpg"), url("../images/img_bg.jpg"),
    linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.moto-container {
  width: 696px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.preferences {
  padding-top: 94px;
}
.preferences-container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.preferences-container li {
  width: 270px;
  font-size: 14px;
  color: #757575;
  line-height: 1.714;
  font-weight: 400;
  text-align: left;
}
.preferences-container li:not(:last-child) {
  margin-right: 30px;
}
.preferences-image-box {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 5px;
}
.preferences-image {
  width: 70px;
  height: 70px;
}
.what-we-do {
  padding-bottom: 123px;
  padding-top: 94px;
}

.what-we-do-pictures {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  width: 100%;
}

.what-we-do-pictures li {
  position: relative;
}
.our-team {
  background-color: #f5f4fa;
  width: 100%;
  align-items: center;
  padding: 94px 0;
}
.our-team-container ul {
  list-style: none;
  display: flex;
}

.our-team-container li {
  text-align: center;
  outline-color: #eeeeee;
  outline-style: solid;
  outline-width: 1px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px -1px #757575;
  border-radius: 3px;
}
.our-team-container li:not(:last-child) {
  margin-right: 30px;
}
.our-team-img-tittle {
  justify-items: center;
  padding: 30px;
}
.our-team-container h3 {
  font-size: 16px;
  font-weight: 400px;
  letter-spacing: 0.03em;
}
.our-team-container p {
  color: #757575;
  letter-spacing: 0.03em;
  margin-top: 16px;
  margin-bottom: 0;
}

.regular-customers {
  padding: 94px 0;
}

.regular-customers ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.customers-labels {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.customers-labels-link:hover,
.customers-labels-link:focus {
  color: #2196f3;
  border-color: #2196f3;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-labels-link:hover .customers-labels-link-image,
.customers-labels-link:focus .customers-labels-link-image {
  fill: #2196f3;
}
.customers-labels-link {
  width: 170px;
  height: 90px;
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.customers-labels-link-image {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-customers li:hover,
.regular-customers li:focus {
  color: #2196f3;
  border-color: #2196f3;
  cursor: pointer;
}

//portfolio

.portfolio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 112px;
}

.pictures ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 76px;
}
.pictures li:nth-child(3n) {
  margin-right: 0;
}
.pictures li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.pictures li {
  width: 370px;
  list-style: none;
  border-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
  margin-bottom: 30px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
}
.pictures a {
  display: block;
}
.pictures a:focus,
.pictures a:hover {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.pictures-title {
  padding: 20px;
}
.pictures h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}
.pictures-title p {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
  margin: 0;
}
