.moto-container h1 {
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  font-weight: 800;
  color: #ffff;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.preferences-container h2 {
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  color: #212121;
  margin-top: 30px;
}

.what-we-do-container h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 30px;
}

.what-we-do-pictures-tittle {
  width: 100%;
  height: 70px;
  color: #ffffff;
  background-color: #2f303a;
  opacity: 80%;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 700;
  padding-top: 27px;
  position: absolute;
  bottom: 0;
}

.our-team-container h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.regular-customers h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
