a.logo {
  width: 145px;
  height: 31px;
  color: #000000;
  font-family: "Raleway";
  line-height: normal;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-right: 93px;
}
.logo > span {
  color: #2196f3;
}
.footer-container a.logo {
  color: #ffffff;
}
